<section class="banner grid-right padded">
  <div class="col-6_sm-12-middle">
    <h3 class="big-bold">
          <span class="highlight"> Our green </span> <br>
          <span class="highlight"> thumb. </span> <br>
          <span class="highlight"> Your space. </span>
        </h3>
    <a href="#" class="button inverted"> Take the quiz!</a>
  </div>
</section>



<section class="grid light-bg">
  <div class="col-6_sm-12 banner1">
  </div>
  <div class="col-6_sm-12-middle padded">
    <h2 class="big-bold"> This this the about section </h2>
    <p class="emphasis"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
</section>



<section class="padded centered">
  <h2> Visit A Plant Garden</h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  <div class="grid padded-1">
    <div class="col-3 padded-1">
      <a href="#" class="clickable-box bg-image cactus-box">
        <div class="overlay padded light-text">
          <h3> Cacti & Succulents </h3>
        </div>
      </a>
    </div>

    <div class="col-3 padded-1">
      <a href="#" class="clickable-box bg-image flower-box">
        <div class="overlay padded light-text">
          <h3> Flowers </h3>
        </div>
      </a>
    </div>

    <div class="col-3 padded-1">
      <a href="#" class="clickable-box bg-image foliage-box">
        <div class="overlay padded light-text">
          <h3> Foliage & Palms </h3>
        </div>
      </a>
    </div>
    <div class="col-3 padded-1">
    <a href="#" class="clickable-box bg-image herb-box">
      <div class="overlay padded light-text">
        <h3> Herbs & Vegetables </h3>
      </div>
    </a>
  </div>
</div>
</section>



<section class="centered create">
    <div class="padded">
    <h1 class="big-bold"> Create Your Garden </h1>
    <a href="#" class="button inverted"> Create My Garden</a>
    <a href="#" class="button inverted"> See My Garden </a>
    </div>
</section>