<section index="quiz" class="banner grid-right padded">
  <div class="col-6_sm-12-middle">
    <h1 class="big-bold banner-text">
          <span> Our green </span> <br>
          <span> thumb. </span> <br>
          <span> Your space. </span>
        </h1>
    <a href="#" class="button inverted banner-button"> Take the quiz!</a>
  </div>
</section>

<br>

<section index="about" class="grid">
  <div class="col-6_sm-12 banner1">
  </div>
  <div class="col-6_sm-12-middle padded">
    <h2 class="big-bold centered about-span"> 
      <span> What is the </span> <br>
      <span> Virtual Botanic Garden? </span>
    </h2>
    <br>
    <p class="emphasis about"> Welcome to The Virtual Botanic Garden. <br>
    The Virtual Botanic Garden offers a virtual gardening experience. Visit different plant rooms to browse and learn about some of the most beautiful plants. Find the perfect plants for you based on your preferences and gardening level. Cacti, flowers, palms, herbs, and more are available for collection with just a few clicks. Once you have chosen which plants you would like in your garden, quickly fill  out our form to create your garden. Vistit this garden at any time or pick up your selections from a local florist to bring home. </p>
  </div>
</section>



<section index="rooms" class="padded centered">
  <h2 class="plant-rooms"> Visit A Plant Room</h2>
  <p class= "emphasis"> Browse & learn about plants in these different categories. </p>
  
  <div class="grid padded-1">
    
    <div class="col-3 padded-1">
      <a href="/rooms/1" class="clickable-box bg-image cactus-box">
        <div class="overlay padded light-text">
          <h3> Cacti & Succulents </h3>
        </div>
    </div>

    <div class="col-3 padded-1">
      <a href="/rooms/2" class="clickable-box bg-image flower-box">
        <div class="overlay padded light-text">
          <h3> Flowers & Orchids </h3>
        </div>
      </a>
    </div>

    <div index="create" class="col-3 padded-1">
      <a href="/rooms/3" class="clickable-box bg-image foliage-box">
        <div class="overlay padded light-text">
          <h3> Foliage & Palms </h3>
        </div>
      </a>
    </div>
    <div class="col-3 padded-1">
    <a href="/rooms/4" class="clickable-box bg-image herb-box">
      <div class="overlay padded light-text">
        <h3> Herbs & Vegetables </h3>
      </div>
    </a>
  </div>
</div>
</section>



<section index="garden" class="create centered">
    <div class="padded2">
    <h1 class="create-text"> Create My Garden </h1>
    <%=link_to "Create My Garden", new_garden_path, class: "button inverted" %>
    <%=link_to "See My Garden", new_garden_path, class: "button inverted" %>
    </div>
</section>
<br>